<div class="row" ng-controller="updateServicesController">

	<div class="success-message" ng-show="result.success">
		<p>Su servicio ha sido suspendido exitosamente</p>
	</div>
	<div class="error-message" ng-show="result.error">
		<p>Hubo un error al suspender el servicio</p>
	</div>

	<h2>Suspender temporalmente Consubanco por Internet</h2>
	<ng-form name="serviceForm">
		<div ng-show="actionUpdateState == 2">
			<div class="fieldContainer" ng-class="data.otp.length > 0 ? 'selected' : ''">
				<span>Token</span>
				<input class="input-token" type="password" ng-model="updateDigitalBankServiceState.otp" ng-required="true" numbers-only minlength="6" maxlength="6" placeholder="Introduce el c&oacute;digo de tu Token F&iacute;sico">
			</div>
		</div>
	</ng-form>
	<div class="servicio">
		<h3 ng-show="actionUpdateState ==2 ">¿Estás seguro de suspender tu servicio?</h3>
		<div class="icono">
			<img src="images/CSB_Ico_alert.svg" alt="" height="50" width="50" align="middle">
		</div>
		<div class="mensaje">
			<p>El servicio de Consubanco por Internet será suspendido.</p>
			<p>Para reactivarlo es necesario que te pongas en contacto con un agente teléfonico de Consubanco.</p>
			<p>Al: 01 800 800 32 24</p>
		</div>
	</div>
	<br>
	<div ng-switch on="actionUpdateState">
		<div ng-switch-when="1">
			<div>
				<button ng-click="updateService(2,'S')">Continuar</button>
				<button ng-click="">Cancelar</button>
			</div>
		</div>
		<div ng-switch-when="2">
			<div>
				<button ng-click="updateDigitalBankServiceState()" ng-disabled="serviceForm.$invalid">Continuar</button>
				<button ng-click="updateService(1,'');">Cancelar</button>
			</div>
		</div>
		<div ng-switch-when="3">
			<div>
				<button ng-click="logout();" ng-show="result.success">Finalizar</button>
				<button ng-click="updateService(1,'');" ng-show="result.error">Finalizar</button>
			</div>
		</div>
	</div>
</div>
