<div class="row" ng-controller="updateServicesController" >
	<h3>Cancelar mi servicio</h3>
	<p>Cancelar mi servicio desactiva todas las funciones de Consubanco relacionadas a tu cuenta.</p>
	<p>Para reactivarlo es necesario acudir a tu sucursal m&aacute;s cercana y solicitar la reactivaci&oacute;n.</p>
	<div ng-switch on="actionUpdateState">
		<div ng-switch-when="1">
			<div>
				<button ng-click="updateService(2,'S')">Quiero suspender mi servicio temporalmente</button>
				<button ng-click="updateService(2,'C')">Quiero cancelar mi servicio</button>
			</div>
		</div>
	    <ng-form name="serviceForm">
		    <div ng-switch-when="2">
					<!-- Delete these messages when the service is ready -->
					<p ng-show="updateDigitalBankServiceState.state === 'S'" style="text-align:center;">
						Para suspender temporalmente el servicio de Banca Digital llame por favor al 01 800 800 32 34
					</p>
					<p ng-show="updateDigitalBankServiceState.state === 'C'" style="text-align:center;">
						Para cancelar el servicio de Banca Digital llame por favor al 01 800 800 32 34
					</p>
					<!--uncomment once the service is ready (also Continuar button below)
					<div class="fieldContainer" ng-class="data.otp.length > 0 ? 'selected' : ''">
              <span>Tokense</span>
              <input class="input-token" type="password" ng-model="updateDigitalBankServiceState.otp" ng-required="true" numbers-only minlength="6" maxlength="6" placeholder="Introduce el c&oacute;digo de tu Token F&iacute;sico">
          </div>
					<div class="double-btn">-->
						<button ng-click="updateService(1,'');">Regresar</button>
						<!--<input type="submit" value="Continuar" ng-click="updateDigitalBankServiceState()" ng-disabled="serviceForm.$invalid">
					</div>-->
			</div>
		</ng-form>
	    <div ng-switch-when="3">
		    <div class="data">
		        <h3>Informaci&oacute;n de la cuenta</h3>
		        <div ng-class="exception ? 'error' : 'message'"><i></i><p>{{message}}</p></div>
		    </div>
            <button ng-click="updateService(1,'');">Regresar</button>
        </div>
	</div>
</div>
