<form class="user-login" name="userUnBlock">
    <label for="user"><strong>Desbloqueo de usuario</strong></label>
    <input ng-class="error ? 'rojo' : ''" ng-model="loginData.username" type="text" name="user" id="user" placeholder="Usuario" ng-minlength="5" maxlength="10" ng-pattern="/^[0-9]+$/" required>
    <input ng-class="error ? 'rojo' : ''" ng-model="loginData.folio" type="text" name="user" id="user" placeholder="Número de folio" ng-minlength="5" maxlength="10" ng-pattern="/^[0-9]+$/"  required>
    <div class="error" ng-show="error">{{errorMessage}}</div>
    CONTACTO CONSUBANCO:<br>
    018008003224
    <input type="submit" value="Continuar" ng-click="checkUser()" ng-disabled="userLoginForm.$invalid||checkingUser">
	<input type="submit" value="Cancelar" ng-click="reset()">
</form>
