<div class="success-message" ng-show="result.success">
    <p class="space-p">Tu cambio de instrucci&oacute;n se realiz&oacute; correctamente</p>
</div>
<div class="error-message" ng-show="result.error">
    <p class="space-p">Hubo un error al efectuar el cambio de instrucci&oacute;n</p>
</div>
<div class="header small">
    <h2 class="title">
        <a ng-click='showAccountHeader = !showAccountHeader'><i ng-class="showAccountHeader ? 'ico-menos' : 'ico-mas'"></i></a>
        {{investmentHeader.product.product_name}}
        <span>Inversi&oacute;n</span>
    </h2>
    <div class="payment-actions">
        <div>
            <div>
                <p class="amount">{{investmentHeader.available_balance | currency}}</p>
                <span>Saldo disponible</span>
            </div>
        </div>
    </div>
    <a ng-show="investmetCategory=='VISTA'" ng-click='getStatements()' class="cursor-pointer"><i class="ico-estados"></i>Estados <span>de cuenta</span></a>
</div>
<hr ng-show='!showAccountHeader'>

<div ng-hide="investmetCategory=='VISTA'">
    <div class="box" ng-show='showAccountHeader'>
        <ul>
            <li>Fecha de inicio de inversi&oacute;n:    <span>{{investmentHeader.start_date | date:'dd/MM/yyyy' }}</span></li>
            <li>Plazo de inversi&oacute;n:              <span>{{investmentHeader.expiration_date | date:'dd/MM/yyyy'}}</span></li>
            <li>Fecha de vencimiento de inversi&oacute;n:<span>{{investmentHeader.last_renewal_date | date:'dd/MM/yyyy' }}</span></li>
            <li>Fecha de vencimiento de inter&eacute;s:  <span>{{investmentHeader.expiration_date | date:'dd/MM/yyyy' }}</span></li>
            <li>Intereses generados:    <span>{{investmentHeader.projected_interest_amount}}%</span></li>
        </ul>
        <ul>
          <li>Porcentaje de ISR:         <span>{{investmentHeader.isr_taxt}}%</span></li>
          <li>Monto del ISR:             <span class="amount">{{investmentHeader.isr_taxt_amount | currency}}</span></li>
          <li>Tasa de inter&eacute;s:    <span>{{investmentHeader.interest_rate}}%</span></li>
          <li class="instructions">
            <div ng-show='modify == false' class="first-div">
              <p>Instrucci&oacute;n al vencimiento:</p>
              <span>{{instruction.ins_inv_name}}</span>
              <button ng-click='modify = true'>Modificar instrucci&oacute;n al vencimiento</button>
            </div>
            <div ng-show='modify == true' class="second-div">
              <div class="dropdown">
                <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown">
                  <span>Cuenta retiro</span>
                  <p>{{instruction.ins_inv_name}}</p>
                </div>
                <ul class="dropdown-menu" role="menu">
                  <li ng-click="assignInstruction(instructions.ins_inv_to_print)" ng-required="true">{{instructions.ins_inv_to_print.ins_inv_name}}</li>
                  <li ng-click="assignInstruction(instructions.ins_inv_in_box01)" ng-required="true">{{instructions.ins_inv_in_box01.ins_inv_name}}</li>
                </ul>
              </div>
              <div class="dropdown" ng-show="ejeAccounts.length >= 1">
                <div class="dropdown-toggle select-style" type="button" data-toggle="dropdown">
                  <span>Selecciona la cuenta destino</span>
                  <p>{{ejeAccount.name + ' ' + ejeAccount.masked_account_number}}</p>
                </div>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="account in ejeAccounts" ng-click="assignEjeAccount(account)" ng-required="true">{{account.name + ' ' + account.masked_account_number}}</li>
                </ul>
              </div>
              <div class="buttons">
                <button ng-click='save();'>Guardar</button>
                <button ng-click='modify = false; instruction = instructions.ins_inv_to_print'>Cancelar</button>
              </div>
            </div>
          </li>
        </ul>
    </div>
</div>
<div ng-show="investmetCategory=='VISTA'">
    <div class="box" ng-show='showAccountHeader'>
        <ul>
            <li>Periodo:        <span>{{investmentHeader.start_date | date:'dd/MM/yyyy' }} a {{investmentHeader.expiration_date | date:'dd/MM/yyyy' }}</span></li>
        </ul>
        <ul>
            <li>Tasa de inter&eacute;s del &uacute;ltimo periodo:   <span>{{investmentHeader.interest_rate}}%</span></li>
        </ul>
    </div>
</div>
