<div class="record">
    <div class="data">
        <h3>Alertas y notificaciones</h3>
        <p>Ingresa tu número celular, correo electr&oacute;nico y selecciona uno o ambos medios por el cual quieras que se notifiquen tus movimientos de Consubanco por Internet</p>
        <form name="updateForm">
            <div class="mensajeCom">
                <div class="fieldContainer pull-left" ng-class="data.phone.length > 0 ? 'selected' : ''">
                    <span>N&uacute;mero celular</span>
                    <input type="text" numbers-only ng-minlength="10" ng-maxlength="10"  minlength="10" maxlength="10" class="input-mobile text-left" ng-model="updatedata.phone" placeholder="N&uacute;mero celular">
                </div>
                <div class="mensajeIco">
                    <img ng-show="updatedata.phoneSelect" ng-click="updatedata.phoneSelect = false" src="images/CSB_ico_paloma_naranja.svg" alt="" height="35px" width="35px" align="right">
                    <img ng-hide="updatedata.phoneSelect" ng-click="updatedata.phoneSelect = true" src="images/CSB_ico_paloma_gris.svg" alt="" height="35px" width="35px" align="right">
                </div>
            </div>
            <div class="mensajeCom">
                <div class="fieldContainer pull-left" ng-class="data.e_mail.length > 0 ? 'selected' : ''">
                    <span>Correo electr&oacute;nico</span>
                    <input type="email" alphanumeric class="input-mail text-left" ng-model="updatedata.e_mail" placeholder="Correo electr&oacute;nico">
                </div>
                <div class="mensajeIco">
                    <img ng-show="updatedata.mailSelect" ng-click="updatedata.mailSelect = false" src="images/CSB_ico_paloma_naranja.svg" alt="" height="35px" width="35px" align="right">
                    <img ng-hide="updatedata.mailSelect" ng-click="updatedata.mailSelect = true" src="images/CSB_ico_paloma_gris.svg" alt="" height="35px" width="35px" align="right">
                </div>
            </div>
            <div>
                <div ng-show="paso == 0">
                    <button ng-click="paso=1" ng-disabled="!updatedata.phoneSelect && !updatedata.mailSelect">Continuar</button>
                </div>
                <div ng-show="paso == 1">
                    <div class="fieldContainer">
                        <span>Introduce el código de tu Token f&iacute;sico</span>
                        <input type="text" numbers-only ng-minlength="6" ng-maxlength="10" minlength="6" maxlength="10" class="input-token text-left" ng-model="updatedata.otp" placeholder="Introduce el código de tu Token físico" ng-required="true">
                    </div>
                    <div>
                        <button class="w35" ng-click="paso = 0">Cancelar</button>
                        <button class="w35" ng-disabled="updateForm.$invalid || !(updatedata.phoneSelect || updatedata.mailSelect)" ng-click="sendCommunication()">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
