<div class="btnsBar">
	<button><a href="https://www.consubanco.com/Consubancoporinternet/Demos">VER DEMOS</a></button>
	<button><a href="https://www.consubanco.com/Consubancoporinternet/Bancaayuda">AYUDA</a></button>
	<button><a href="https://www.consubanco.com/Consubancoporinternet/Tipsdeseguridad">TIPS DE SEGURIDAD</a></button>
	<button><a href="https://www.consubanco.com/Consubancoporinternet/Comohaceroperaciones">C&Oacute;MO HACER TUS OPERACIONES</a></button>
	<button><a href="#/contacto">CONT&Aacute;CTANOS</a></button>
</div>