<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div>
    <ul rn-carousel rn-carousel-auto-slide="4" rn-carousel-buffered rn-swipe-disabled ="true" class="rnCarousel">
      <li>
        <div class="item active">
          <a href="https://play.google.com/store/apps/details?id=mx.com.mobile.consubanco" target="_blank" class="go-store android">
            <img src="images/img-playstore.png" alt="Descarga la aplicación para Android">
          </a>
          <a href="https://itunes.apple.com/mx/app/consumovil/id1088934024" target="_blank" class="go-store ios">
            <img src="images/img-appstore.png" alt="Descarga la aplicación para iPhone">
          </a>
          <img class="imgCarousel" src="images/1.jpg" alt="img1">
        </div>
      </li>
      <li>
        <div class="item">
          <img class="imgCarousel" src="images/2.jpg" alt="img1">
        </div>
      </li>
      <li>
        <div class="item">
          <img class="imgCarousel" src="images/3.jpg" alt="img1">
        </div>
      </li>
      <li>
        <div class="item">
          <img class="imgCarousel" src="images/4.jpg" alt="img1">
        </div>
      </li>
    </ul>
  </div>
</div>
