<div class="legal">
    <p class="pull-left">Copyrights &copy; 2016 Todos los derechos reservados Consubanco.</p>
    <a href="#" class="pull-right">Consulta T&eacute;rminos y Condiciones</a>
</div>
 <ul>
    <li><a href="#/map">Sucursales y M&oacute;dulos de Atenci&oacute;n</a></li>
    <li><a href="#/contacto">Cont&aacute;ctanos</a></li>
    <li><a href="https://www.consubanco.com/Consubancoporinternet/Bancaayuda" onclick="window.open(this.href,'_blank'); return false;" target="_blank">Ayuda</a></li>
</ul>