<div ng-include="'views/partials/layout/alert.html'"></div>
<header>
    <div class="wrapper">
        <!-- =============================================================== -->

        <h1 class="logo"><a href="#/accounts">Consubanco</a></h1>

        <!-- =============================================================== -->
        <nav class="nav">
            <ul>
                <li
                    data-ng-class="{'active': isActive('accounts')}"> <a id="accounts" href="#/accounts">Mis Productos</a></li>
                <li
                    data-ng-class="{'active': isActive('transfers')}"><a id="transfers" href="#/transfers">Transferencias</a></li>
                <li
                    data-ng-class="{'active': isActive('investments')}"><a id="investments" href="#/investments">Inversiones</a></li>
                <li
                    data-ng-class="{'active': isActive('administration')}"><a id="administration" href="#/administration">Administraci&oacute;n</a></li>
            </ul>
        </nav>
        <!-- =============================================================== -->
        <!-- module -->
        <div class="user-session">
            <div class="user-log">
                <h6>Bienvenido</h6>
                <h4 class="user text-capitalize">{{completeName | lowercase}}</h4>
                <p ng-show="last_access_date > 0" class="date">&Uacute;ltimo acceso: <span>{{last_access_date | date:'dd/MM/yyyy'}}</span> a las <span>{{last_access_date | date:'HH:mm:ss'}}</span>
                </p>
            </div>
        </div>
        <button ng-hide="useLogoutForm" ng-click="logout(true)">Cerrar Sesi&oacute;n</button>
        <div class="fix-top">
            <div class="date">
                <time-access date='{{date}}' media='{{date}}'/>
            </div>
            <ul class="sub-menu">
                <ul>
                    <li><a href="#/map">Sucursales y M&oacute;dulos de Atenci&oacute;n</a></li>
                    <li><a href="#/contacto">Cont&aacute;ctanos</a></li>
                    <li><a href="https://www.consubanco.com/Consubancoporinternet/Bancaayuda" onclick="window.open(this.href,'_blank'); return false;">Ayuda</a></li>
                </ul>
            </ul>
        </div>
    </div>
</header>
