<div class="login2">
    <h1 id="logo">Consubanco | Cr&eacute;ditos | Tarjetas de cr&eacute;dito | Inversiones</h1>
    <div class="content-login-2">
        <!-- Login box -->
    	<div class="col-1 pull-left">
            <div ng-include="'views/partials/login2/login-box.html'"></div>
        </div>

        <!-- Carousel -->
        <div class="col-2 pull-right">
            <div ng-include="'views/partials/login2/carousel.html'"></div>
        </div>
    </div>
    <div ng-include="'views/partials/login2/footerLogin2.html'" class="footer-login-2"></div>
</div>