<div class="login2">
    <h1 id="logo">Consubanco | Cr&eacute;ditos | Tarjetas de cr&eacute;dito | Inversiones</h1>
    <div class="content-login-2">
        <!-- Login box -->
    	<div class="col-1">
            <div ng-include="'views/partials/login2/login-box.html'"></div>
        </div>

        <!-- Carousel -->
        <div class="col-2">
            <div ng-include="'views/partials/login2/carousel.html'"></div>
        </div>
    </div>

    <!-- Options buttons -->
    <div class="buttons-bar">   
        <a href="https://www.consubanco.com/Consubancoporinternet/Demos" class="btn">VER DEMOS</a>
        <a href="https://www.consubanco.com/Consubancoporinternet/Bancaayuda"  class="btn">AYUDA</a>
        <a href="https://www.consubanco.com/Consubancoporinternet/Tipsdeseguridad"  class="btn">TIPS DE SEGURIDAD</a>
        <a href="https://www.consubanco.com/Consubancoporinternet/Comohaceroperaciones"  class="btn">C&Oacute;MO HACER TUS OPERACIONES</a>
        <a href="#/contacto"  class="btn">CONT&Aacute;CTANOS</a>
    </div>
    
    <div ng-include="'views/partials/login2/footerLogin2.html'" class="footer-login-2"></div>
</div>